<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    {% load staticfiles %}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">

</head>
<body>
<div>
    {% block navbar %}
        {% include 'navbar.html' %}
    {% endblock %}
    <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5" role="main">
        {% block content %}
        {% endblock content %}
    </main>
</div>
    {% block footer %}
        {% include 'footer.html' %}
    {% endblock %}

    {% block scripts %}
    {% endblock scripts %}
</body>
</html>
