{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <p>{{ object.job }}</p>
      <p>{{ object.status }}</p>
      {% if object.ready %}
        <p><a type="button" class="btn btn-outline-primary" href="/restapi/download-container/{{ object.uid }}">download</a></p>

      {% endif%}
      {% if object.ready and object.upload %}
        <p><a href='{% url "jobs:upload-container" object.uid %}' type="button" class="btn btn-primary btn-sm">upload to EAAS</a></p>
      {% endif%}
    </div>
  </div>
</div>
{% endblock%}
