{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <form method="POST" class="col-sm-4" action="">
        {% csrf_token %}
        {{ form | crispy }}
        <!--
        {% for el in libraries %}
        <p>{{el}} <input class='libs' type="checkbox" id="{{el}}"></p>
        {% endfor %} -->
        <input type="submit" value="Submit" id="button">
      </form>
    </div>
  </div>
</div>
<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

{% endblock%}
