{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <form method="POST" class="col-sm-4" action="">
          {% csrf_token %}
          {{ form | crispy }}
          <input type="submit" value="Submit" id="button">
      </form>
    </div>
  </div>
</div>
{% endblock%}
