{% extends 'base.html' %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Jobs</h1>
      <table class="table">
        <tbody>
          {% for job in object_list %}
            <tr>
              <td>{{job.job_id}}</a></td>
              <td><a href="{% url 'jobs:job-detail' job.job_id %}">info >></a></td>
              <td>{{job.libraries}}</a></td>
            </tr>
            {% empty %}
            <tr>
              <td>No jobs yet.</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock%}
