{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
          <h1>{{ object.job_id }}</h1>
              <p>{{ object.status.name }}</p>
          <b>Meta-data</b>
          <div class="col-offset-4 col-8">{{ object.data }}</div><br>
          <b>Libraries</b>
          <div class="col-offset-4 col-8">
            {% for name, status in object.libraries.items %}
            <p>{{ name }} - <b>{{ status}}</b></p>
            {% endfor %}
          </div><br>
          <b>Command</b>
          <div class="col-offset-4 col-8">{{ object.command }}</div>
          <br>
          <a href="{% url 'jobs:create-container' object.job_id %}">create container</a>
          <br>
          <br><br>

          <h3>History</h3>
          <div class="col-9">
            <table class="table">
              <tbody>
                {% for cont in containers %}
                <tr>
                  <td><a href="{% url 'jobs:container-detail' cont.uid %}">{{cont.uid}}</a></td>
                  {% if cont.container_type == "2" %}
                    <td>S</td>
                  {% elif cont.container_type == "1" %}
                    <td>D</td>
                  {% endif %}
                  <td>{{ cont.created }}</td>
                  <td>{{ cont.status }}</td>
                </tr>
                {% empty %}
                  <td>No element's in the history</td>
                {% endfor %}
              </tbody>
            </table>
          </div>
          <div class="col-3">
          </div>
        </div>
    </div>
</div>
{% endblock%}
